<!DOCTYPE html>
<html ng-app="plunker">

<head>
<meta charset="utf-8" />
<title>AngularJS Plunker</title>
<script>
document.write('<base href="' + document.location + '" />');
</script>
<link rel="stylesheet" href="style.css" />
<script src="https://code.angularjs.org/1.3.15/angular.js"></script>
<!-- <script src="https://code.angularjs.org/1.3.15/i18n/angular-locale_es-ar.js"></script> -->
<!-- <script src="https://code.angularjs.org/1.3.15/i18n/angular-locale_es-es.js"></script> -->
<script src="../src/ng-currency.js"></script>

<!-- PLEASE CHANGE AS YOU WISH THIS LOCALE JS -->
<!-- <script src="https://code.angularjs.org/1.2.16/i18n/angular-locale_es-ar.js"></script> -->

<script src="app.js"></script>
</head>

<body ng-controller="MainCtrl">

<form name="testForm">
<input type="text" ng-model="testModel" ng-currency max="10" min="-2" name="testInput" fraction="5">(autoformat on blur!)
<p>model value: {{testModel}}</p>
<p>{{testForm.testInput.$error}}</p>

<p>Repeat</p>
<div ng-repeat="i in listModel">
    <input type="text" ng-model="i['Amount']" ng-currency >(autoformat on blur!)
    <span>{{i['Amount'] | currency: ""}}</span>
</div>

</form>
</body>

</html>
