<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

        <title>NG-CURRENCY</title>
    </head>
    <body ng-app="app" ng-controller="AppController as $ctrl">
        <h3>ng-currency basic</h3>
        <input type="text" ng-model="$ctrl.value" ng-currency>
        <p>model value: {{$ctrl.value}}</p>

        <h3>Cents To Dollars</h3>
        <input type="text" ng-model="$ctrl.value" ng-currency cents-to-dollars>
        <p>model value: {{$ctrl.value}}</p>

        <script src="ng-currency.js"></script>
        <script src="main.js"></script>
    </body>
</html>
